$header_bg:              #fff;
$header_color:        #000;
$join-internet_color: #273f9f;
$join-internet_bg:    #d5d5d5;
$premium_color:       #fff;
$premium_bg:          #c41231;

header ul.top {
  background-color: $header_bg;
  color: $header_color
}

#footer a#disableAd {
  background: $premium_bg;
  color: $premium_color;
}

#footer a#join-internet {
  background: $join-internet_bg;
  color: $join-internet_color;
}

/*
    Все пользовательские стили должны располагаться в этом файле
    Пользовательские стили, указанные в других файлах, будут проигнорированы

    Указанные выше правила позволяют
    изменять оформление шапки, футера и кнопки "Войти в интернет"
    В рамках этих правил позволяется изменять исключительно цвет фона элементов

    Все остальные стили должны явно определяться относительно элемента #content
*/
*{
  box-sizing: border-box;
}
#content{
  @media screen and (orientation: landscape) {
    @media (min-width: 480px)  and (min-height: 320px) {

    }
    @media (min-width: 568px) {

    }
    @media (min-width: 667px) {

    }
    @media  (min-width: 736px) {

    }
    @media  (min-width: 750px) {

    }
    @media  (min-width: 1000px) {

    }
  }
  @media screen and (orientation: portrait) {
    @media (min-width: 320px) and (min-height: 380px) {

    }
    @media (min-width: 375px) {

    }
    @media (min-width: 414px) {

    }
  }
}