

header {
    background: #000;
    /*цвет фона приведен для примера*/
}

#footer ul.bottom {
    background: #000;
    /*цвет фона приведен для примера*/

}

#footer a#join-internet {
    background: #00C675;
    /*цвет фона приведен для примера*/
}

#footer a#disableAd{
    background: #EC3E28;
    /*цвет фона приведен для примера*/
}


/*
    Все пользовательские стили должны располагаться в этом файле
    Пользовательские стили, указанные в других файлах, будут проигнорированы

    Указанные выше правила позволяют
    изменять оформление шапки, футера и кнопки "Войти в интернет"
    В рамках этих правил позволяется изменять исключительно цвет фона элементов

    Все остальные стили должны явно определяться относительно элемента #content
*/
