@import url('https://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic-ext');
@import url('fonts/bebasneue_regular/font.css');


header {
    background: rgba(0, 0, 0, 0.8);
}

#footer ul.bottom {
    background: rgba(0, 0, 0, 0.8);
}

#footer a#join-internet {
    background: rgba(0, 127, 27, 0.8);
}


/*
    Все пользовательские стили должны располагаться в этом файле
    Пользовательские стили, указанные в других файлах, будут проигнорированы

    Указанные выше правила позволяют
    изменять оформление шапки, футера и кнопки "Войти в интернет"
    В рамках этих правил позволяется изменять исключительно цвет фона элементов

    Все остальные стили должны явно определяться относительно элемента #content
*/

html {
    background: #010100;
}

body {
    background: url( 'images/background.gif' );
    background-size: cover;
    font-family: Roboto, sans-serif;
    -webkit-text-size-adjust: 100%;
}

header {
    background: #000;
}

#footer a#join-internet {
    background-color: #cc0000;
}

#content {
    bottom: 110px;
    text-align: center;
    height: auto;
    overflow: auto;
    top: 50px;
    position: static;
}

#content .image {
    background: url('images/yoda-card-big.jpg') no-repeat center center;
    background-size: contain;
    position: absolute;
    top: 50px;
    top: -50px;
    left: 0;
    right: 0;
    bottom: 210px;
}

.portrait #content .image {
    bottom: 280px;
    top: 20px;
}

#content .b-l {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 110px;
}

#content .legal {
    font-size: 10px ;
    line-height: 1.1em;
    padding: 0 10px 5px;
}
        
#content .legal .light {
    color: #a1a1a1;
}

#content .legal .dark {
    color: #a1a1a1;
}

#content .legal a {
    color: #ddd;
    text-decoration: underline;
}

#content .legal a:hover {
    text-decoration: none;
}

#content .button-wrapper {
    font-size: 52px;
    margin-bottom: .4em;
}

.mobile #content .button-wrapper {
    font-size: 29px;
}

#content .button-wrapper .title {
    background-color: #FFC100;
    background-image: linear-gradient(bottom, #FFC100 0%, #FFAA00 100%);
    background-image: -o-linear-gradient(bottom, #FFC100 0%, #FFAA00 100%);
    background-image: -moz-linear-gradient(bottom, #FFC100 0%, #FFAA00 100%);
    background-image: -webkit-linear-gradient(bottom, #FFC100 0%, #FFAA00 100%);
    background-image: -ms-linear-gradient(bottom, #FFC100 0%, #FFAA00 100%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #FFC100),
        color-stop(1, #FFAA00)
    ); 
    
    color: #1C2025;
    display: inline-block;
    font-family: 'Bebas Neue Regular', Arial, sans-serif;
    height: 1.8em;
    line-height: 2em;
    padding: 0px 1.5em;
    position: relative;
    text-transform: uppercase ;
    text-decoration: none;
}

#footer ul.bottom {
    background-color: #000;
}
@media screen and (orientation:portrait) {
    #content .image {
        background-image: url('images/yoda-card-small.jpg');
    }
}

@media screen and (max-height: 740px) {
    .landscape #content .image {
        top: 0px;
    }
    .tablet #content .button-wrapper,
    .mobile #content .button-wrapper {
        font-size: 30px;
    }
}
@media screen and (max-height: 600px) {
    #content .image {
        bottom: 200px;
    }

    .portrait #content .image {
        top: 30px;
    }
    
    .tablet #content .button-wrapper,
    .mobile #content .button-wrapper {
        font-size: 25px;
    }
}

@media screen and (max-height: 500px) {
    #content .image {
        bottom: 190px;
        top: 40px;
    }
    .tablet #content .button-wrapper,
    .mobile #content .button-wrapper {
        font-size: 20px;
    }
}

@media screen and (max-height: 450px) {
    .landscape #content .image {
        bottom: 190px;
        top: 20px;
    }

    .landscape #content .image,
    .portrait #content .image {
        background-image: url('images/yoda-card-tiny.jpg');
    }

    .landscape #content .image {
        bottom: 200px;
        top: 50px;
    }

    .mobile #content .button-wrapper {
        margin-bottom: .1em;
    }

    #content .legal {
        padding-bottom: 0;
    }
}


@media screen and (max-width: 350px) and (max-height: 500px) {
    .portrait #content .image {
        bottom: 255px;
        top: 10px;
    }
}

.ipad #content .button-wrapper {
    font-size: 45px;
}

.ipad.portrait #content .image {
    bottom: 260px;
    top: 0;
}

.ipad.landscape #content .button-wrapper {
    font-size: 40px;
}

@media screen and (device-width: 320px) and (device-height:480px) {
    .portrait #content .image {
        background-image: url('images/yoda-card-tiny.jpg');
        top: 20px;
        bottom: 220px;
    }
}

@media screen and (device-width: 320px) and (device-height:568px) {
    .portrait #content .image {
        background-image: url('images/yoda-card-small.jpg');
        top: 40px;
        bottom: 240px;
    }
}


@media screen and (device-width: 568px) and (device-height:320px) {
    .landscape #content .image {
        bottom: 185px;
        top: 30px;
    }
}

@media screen and (device-width: 667px) and (device-height:375px) {
    .landscape #content .image {
        background-image: url('images/yoda-card-big.jpg');
        bottom: 180px;
        top: 20px;
    }
}

@media screen and (device-width: 375px) and (device-height:667px) {
    .portrait #content .image {
        bottom: 260px;
    }
}

/**
 * iPhone 4 Landscape
 */
@media only screen and (height: 320px) and (width: 480px) {
    .iphone.landscape #content .image {
        background-image: url(images/yoda-card-iphone-6-plus-l.jpg);
        right: 43%;
        left: 20px;
        bottom: 160px;
    }

    #content .legal {
        font-size: 9px;
    }

    .mobile #content .button-wrapper {
        position: absolute;
        top: -70px;
        left: 300px;
        font-size: 20px;
    }
}

/**
 * iPhone 5 Portrait
 */
@media only screen 
  and (device-width: 320px) 
  and (device-height: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .mobile #content .image {
        background-image: url(images/yoda-card-iphone-6-plus-p.jpg);
        top: -10px;
    }
    #content .legal {
        font-size: 11px;
    }
    .mobile #content .button-wrapper {
        font-size: 27px;
    }
}

/**
 * iPhone 5 Landscape
 */
@media only screen 
  and (height: 320px) 
  and (width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    .landscape #content .image {
        background-image: url(images/yoda-card-iphone-6-plus-l.jpg);
        right: 43%;
        left: 20px;
        bottom: 160px;
        top: 50px;
    }

    #content .legal {
        font-size: 10px;
    }

    .mobile #content .button-wrapper {
        position: fixed;
        top: 80px;
        right: 50px;
        font-size: 27px;
    }
}

/**
 * iPhone 6 Portrait
 */
@media only screen 
  and (device-width: 375px) 
  and (device-height: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .mobile #content .image {
        background-image: url(images/yoda-card-iphone-6-plus-p.jpg);
        width: 95%;
        margin: 0 auto;
        top: 0px;
    }

    #content .legal {
        font-size: 11px;
    }
    .mobile #content .button-wrapper {
        font-size: 35px;
        margin-bottom: 1.7em;
    }
    .mobile #content .button-wrapper .title {
        height: 1.5em;
        line-height: 1.7em;;
        padding: 0 0.9em;
    }
}

/**
 * iPhone 6 Landscape
 */
@media only screen 
  and (height: 375px) 
  and (width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
    .landscape #content .image {
        background-image: url(images/yoda-card-iphone-6-plus-l.jpg);
        right: 43%;
        left: 20px;
        top: 20px;
        bottom: 120px;
    }
    #content .legal {
        font-size: 12px;
    }
    .mobile #content .button-wrapper {
        position: fixed;
        top: 110px;
        right: 50px;
        font-size: 30px;
    }
}


/**
 * iPhone 6+ Portrait
 */
@media only screen 
  and (device-width: 414px) 
  and (device-height: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
    .mobile #content .image {
        background-image: url(images/yoda-card-iphone-6-plus-p.jpg);
    }

    #content .legal {
        font-size: 13px;
    }

    .mobile #content .button-wrapper {
        font-size: 40px;
        margin-bottom: 2em;
    }
}

/**
 * iPhone 6+ Landscape
 */
@media only screen 
  and (height: 414px) 
  and (width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
    .landscape #content .image {
        background-image: url(images/yoda-card-iphone-6-plus-l.jpg);
        right: 38%;
        left: 20px;
        bottom: 180px;
    }

    #content .legal {
        font-size: 11px;
    }

    .mobile #content .button-wrapper {
        position: fixed;
        top: 120px;
        right: 50px;
        font-size: 30px;
    }
}

.android.mobile.portrait #content .image {
    background-image: url(images/yoda-card-iphone-6-plus-p.jpg);
}
.android.mobile.portrait #content .legal {
    font-size: 11px;
}
.android.mobile.portrait .mobile #content .button-wrapper {
    font-size: 40px;
    margin-bottom: 2em;
}

.android.mobile.landscape #content .image {
    background-image: url(images/yoda-card-iphone-6-plus-l.jpg);
    right: 43%;
    left: 20px;
    bottom: 160px;
    top: 50px;
}
.android.mobile.landscape #content .legal {
    font-size: 10px;
}
.android.mobile.landscape #content .b-l {
    bottom: 105px;
}

.android.mobile.landscape #content .button-wrapper {
    position: fixed;
    top: 50%;
    right: 9%;
    font-size: 25px;
    margin-top: -3em;
}

.desktop #content .image {
    bottom: 220px;
}

.desktop #content .button-wrapper {
    margin-bottom: .6em;
    font-size: 40px;
}
.desktop #content .button-wrapper .title {
    height: 1.6em;
    line-height: 1.8em;
    padding: 0px 1em;
    display: inline-block;
}

#footer #disableAd {
    background-color: #000;
}